.App {
  text-align: center;
 
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header1{
  background:#111A6C;

  height:200px;
  text-align: center;
  border: 3px solidblack;
 
}
 .header{
color:white;
padding-top: 50px;

} 

.search{
  margin-top: 20px;
  
}

.about{
  display:flex;
  flex-direction: row;
}

nav{
  
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    background:#111A6C;
    color:white;
    height:70px;
  
  
}

.navlink {
  color:white;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 30px;
  

}

